.field {
  padding: 8px 0;
}

.description,
.error {
  margin-top: 4px;
  padding: 0;
  min-width: auto;
  line-height: 20px;
  text-align: left;
  font-size: 12px;
}

.description {
  color: var(--caption-color);
}

.label {
  margin-bottom: 4px;
  line-height: 20px;
  color: var(--field-label-color);
  display: flex;
  align-items: center;
}

.error {
  color: red;
}
