.container {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  border-radius: var(--border-radius);
}

.form {
  padding: 24px;
  margin-top: 32px;
  border-radius: 10px;
  background-color: #fff;
}

.actions {
  margin-top: 16px;
}
